/* font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal;

font-family: brother-1816, sans-serif;
font-weight: 800;
font-style: normal; */

:root {
    scroll-behavior: smooth;
    --menu-background: white;
    --menu-background2: #f1ebf3;
    --menu-button: #7c787c;
    --menu-active: #875bd8;
    /* --menu-active: linear-gradient(90deg, rgb(135, 91, 216) 0%, rgb(196, 91, 216) 100%); */
    --board-background: #d8ccda;
    --container-background: white;
    --container-shadow: #c0b6ce;
    --container-shadow-light: #c0b6ce56;
    --container-shadow-dark: #a29caa;
    --font-color: black;
    --piece-color: 0%;
    --alert: #D7282F;
    --accent-1: #accceb;
    --accent-2: #7fcbb2;
    --accent-3: #d47fb5;
}

[data-theme="dark"] {
    --menu-background: #26292c;
    --menu-background2: #815e92;
    --menu-button: #989da3;
    --menu-active: white;
    --board-background: #525252;
    --container-background: #342A41;
    --container-shadow: #312c38ce;
    --container-shadow-light: #312c3856;
    --container-shadow-dark: #312c38;
    --font-color: white;
    --piece-color: 100%;
}

::-webkit-scrollbar {
    display: none;
}

input[type='text'] {
    background: var(--menu-background);
    color: var(--font-color);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    background: var(--board-background);
    color: var(--font-color);
}

/* --------------------------- Header ---------------------------  */

header {
    background: var(--menu-background);
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    gap: 8px;
    z-index: 1;
}

.leftNav,
.rightNav,
.centerNav {
    display: flex;
    height: inherit;
    align-items: center;
}

.leftNav {
    grid-column: 1;
    justify-content: flex-start;
    margin-left: 12px;
    font-size: 28px;
    gap: 8px;
}

.leftNav svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    fill: var(--menu-active);
}

.rightNav {
    grid-column: 3;
    justify-content: flex-end;
    margin-right: 12px;
}

.centerNav {
    grid-column: 2;
    min-width: 600px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.pageLabel {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--menu-active);
    display: inline-block;
    z-index: 0;
    position: fixed;
    top: 35px;
    -webkit-user-select: none;
    user-select: none;
    transition: top .2s cubic-bezier(0.77, 0, 0.18, 1);

    &.move {
        top: 54px;
    }
}

/* --------------------------- vv Left Bar Formatting vv ---------------------------  */

.leftBar {
    box-sizing: border-box;
    width: 170px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--menu-background);
    color: var(--menu-button);
    fill: var(--menu-button);
    padding: 20px 12px 12px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    left: 0;
    transition: left .35s ease;
}

.leftBar h2 {
    font-size: 12pt;
    padding: 8px 0;
    margin: 0;
}

.leftBar>div {
    padding: 0;
    width: 100%;
    margin-bottom: 8px;
    border-top: 1pt solid var(--menu-background2);
}

.leftBar>div:first-of-type {
    border: none;
}

.leftMenu {
    display: block;
    width: 100%;
}

.leftButton {
    list-style-type: none;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 11pt;
    padding: 8px;
    border-radius: 18px;
    transition: background .2s, outline .2s, color .2s, fill .2s, stroke .2s;
}

.leftButton:hover {
    color: var(--menu-active);
    fill: var(--menu-active);
    cursor: pointer;
}

.leftButton.open {
    color: var(--menu-active);
    fill: var(--menu-active);
    background: var(--menu-background2);
}

.bottom {
    margin-top: auto;
}

/* ------------------------------------------------------ Card ------------------------------------------------------  */
.card {
    background: var(--container-background);
    color: var(--font-color);
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    cursor: grab;
    transition: border-radius .15s, box-shadow .15s !important;
    margin: 0;
    position: relative;
}

.card:active {
    cursor: grabbing;
}

.card.inTray {
    box-shadow: none;
}

.card:hover {
    box-shadow: 4px 4px 10px var(--container-shadow-light);
    /* transform: scale(1.01); */
}

.content>.card:hover {
    box-shadow: 3px 3px 12px var(--container-shadow-dark), -3px -3px 8px var(--board-background);
}

.material {
    font-size: 1rem;
}

.material.inTray {
    align-items: center;
}

.bundle .material {
    padding: 2px 8px;
    flex-direction: row;
    gap: 8px;
    background: none;
}

.material span:first-child {
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}

/* -------------------------------------------------------- Frame --------------------------------------------------------  */

.frame {
    padding: 16px 0px;
    justify-items: center;
    background-color: var(--container-background);
    text-align: center;
    gap: 0px;
}

.frame .dropdownIcon {
    margin-right: 16px;
}

/* ------------------------------------------------------ Left Sub ------------------------------------------------------  */


.leftSub {
    box-sizing: border-box;
    transition: width .3s ease, left .3s ease;
    z-index: 0;
    background: var(--menu-background2);
    position: fixed;
    bottom: 0;
    left: 170px;
    height: calc(100% - 50px);
    width: 0;
    overflow: auto;
}

.leftSub.open {
    width: 200px;
    padding: 20px 12px 12px;
}

.leftSub>div {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.leftSub.open>div {
    display: flex;
    width: 100%;
    animation: slide-in .35s .22s backwards;
}

.leftSub ul {
    width: 100%;
}

.piece.inTray>div:nth-last-child(1) {
    display: none;
}

.leftSub .trayContainer {
    border: none;
    height: 100%;
    border-radius: 0;
    flex-direction: column;
    width: 100%;
}

.leftIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.leftSub input[type='text'] {
    margin: 6px 0px;
    padding: 6px;
    display: block;
    border: none;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
}

.leftSub input:focus {
    outline: 1px solid var(--container-shadow)
}

.search {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.search:hover {
    fill: var(--menu-active);
}

.leftSub .search input {
    position: relative;
    z-index: 1;
    padding-right: calc(18px + 1em);
}

.search svg {
    position: absolute;
    width: 1em;
    z-index: 2;
    justify-self: end;
    padding-right: 8px;
    transition: fill .2s;
}

.linkButton,
.linkButton a {
    text-align: center;
    border-radius: 8px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--font-color);
    padding: 3px 0px;
    transition: all .1s;
}

.linkButton:hover,
.linkButton a:hover {
    color: var(--menu-active);
    background: var(--menu-background);
}

.leftSub button {
    border-radius: 50%;
    background: var(--menu-background);
    border: none;
    outline: none;
    font-size: 18pt;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    transition: all .2s;
    font-weight: 800;
    font-family: brother-1816, sans-serif;
}

.leftSub button:hover {
    background-color: var(--menu-active);
    color: var(--menu-background);
    fill: var(--menu-background);
    box-shadow: 4px 4px 10px var(--container-shadow-light);
}

@keyframes slide-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.inTray .typeable {
    cursor: inherit;
}

.inTray h2 {
    margin: 0;
    padding: 0;
}

/* --------------------------- Arrow Shenanigans ---------------------------  */

.arrow {
    display: inline-block;
    transition: all .2s ease;
    width: 14px;
    margin-left: auto;
}

.leftButton:hover .arrow span {
    background: var(--menu-active);
    height: 3px;
}

.leftButton:hover .arrow span:nth-child(1) {
    transform: rotate(30deg);
}

.leftButton:hover .arrow span:nth-child(2) {
    transform: rotate(-30deg);
}


.leftButton.open .arrow span {
    transform-origin: center;
}

.leftButton.open:hover .arrow span:nth-child(1) {
    transform: rotate(45deg);
}

.leftButton.open:hover .arrow span:nth-child(2) {
    transform: rotate(-45deg);
}

.arrow span {
    transform-origin: right;
    width: 10px;
    height: 1px;
    border-radius: 2px;
    position: absolute;
    transition: all .2s ease;
    background: var(--menu-button);
}

/*  --------------------------- Page Buttons ---------------------------   */

.menuButton,
.pageButton {
    fill: var(--menu-button);
    height: 50px;
    background: transparent;
    border: none;
    transition: fill .25s, color .25s, border-top .1s;
    text-align: center;
    overflow: visible;
    display: flex;
    width: 50px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuButton:hover,
.pageButton:hover {
    fill: var(--menu-active);
    color: var(--menu-background);
}

.buttonIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}

/*  --------------------------- Screen Buttons ---------------------------   */

.screenButtons {
    display: flex;
    position: fixed;
    bottom: 8%;
    right: 12%;
    flex-direction: column;
    gap: 24px;
    transition: right .35s ease;
}

.screenButton {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    fill: var(--menu-button);
    background: var(--menu-background);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .2s;
    overflow: visible;
    opacity: .65;
}

.screenButton:not(#zen) {
    padding: 10px;
}

#zen {
    padding: 0px;
    overflow: hidden;
}

.screenButton:not(#trash):hover,
.screenButton.awake {
    fill: var(--menu-active);
    transform: scale(1.08);
    opacity: 1;
    z-index: 99;
}

#trash>path:last-of-type {
    transition: transform .2s;
    transform-origin: right;
}


#trash.awake>path:last-of-type {
    transform: rotate(15deg);
}

/*  --------------------------- Hover Menu ---------------------------   */

.menu {
    position: relative;
    display: inline-block;
    width: 100%;
}

.subMenu {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 100px;
    background: var(--menu-background);
    width: max-content;
    z-index: 1;
    list-style-type: none;
    padding: 8px;
    border-radius: 8px;
    text-align: left;
}

.subMenu li,
.subMenu a {
    color: var(--font-color);
    padding: 3px 8px;
    display: block;
    transition: all .1s;
    border-radius: 4px;
    text-decoration: none;
}

.subMenu li:hover,
.subMenu a:hover {
    cursor: default;
    background: var(--menu-background2);
}

.menu:hover .subMenu {
    display: block;
}

/* --------------------------- JS classes ---------------------------  */

.active {
    fill: var(--menu-active);
    color: var(--menu-active);
    background: var(--menu-background2);
    border-radius: 0 0 50% 50%;
    outline: var(--menu-background) solid 4px;
}

.dragging {
    opacity: .5;
    box-shadow: none;
    border: 2px solid var(--menu-active);
    box-sizing: border-box;
}

.dragging:active {
    cursor: grabbing;
}

.available {
    outline: 2px dashed var(--menu-active);
}

.hidden {
    display: none;
}

.notification {
    width: 24px;
    height: 24px;
    animation: pop-in .2s;
    position: absolute;
    top: -6px;
    left: -20px;
    border-radius: 50%;
    color: white;
    fill: white;
    background: var(--alert);
    padding: 8px;
    overflow: visible;
}

.leftBar.zen,
.leftBar.zen .leftSub {
    left: -200px;
}

.screenButtons.zen {
    right: 8%;
}

.content.zen {
    gap: 80px;
}

.on {
    opacity: 1;
    fill: var(--menu-active);
    outline: 2px solid var(--menu-active);
    outline-offset: 6px;
    animation: bubble .35s;
}

.treasure>path:last-of-type {
    transition: transform .2s;
}

.treasure:hover>path:last-of-type {
    transform: translateY(-8px);
}

@keyframes bubble {
    0% {
        outline: 1px solid var(--menu-active);
        outline-offset: -2px;
    }

    80% {
        outline: 3px solid var(--menu-active);
        outline-offset: 9px;
    }

    100% {
        outline: 2px solid var(--menu-active);
        outline-offset: 6px;
    }

}

@keyframes pop-in {
    0% {
        scale: .75
    }

    80% {
        scale: 1.15
    }

    100% {
        scale: 1
    }

}

/* --------------------------- Bundling ---------------------------  */

.content {
    margin: 100px 20% 20px;
    padding: 18px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    transition: border .2s, gap .35s ease;
}

.cardContainer {
    padding: 12px;
}

.trayContainer,
.cardContainer {
    gap: 24px;
    box-sizing: border-box;
    background: var(--menu-background2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.piece {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    max-width: 200px;
    min-width: 140px;
    transition: box-shadow .15s;
    align-items: center;
}

.pieceCount {
    text-align: center;
}

.pieceCount.sideline {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12px;
    right: -12px;
    gap: 4px;
}

.pieceCount.sideline span {
    background-color: var(--container-background);
    box-shadow: 2px 2px 12px var(--container-shadow-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieceFrame {
    height: 80px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.pieceFrame.selected {
    outline: 1px solid var(--menu-active);
    border-color: var(--menu-active) !important;
}

.pieceFrame>svg {
    display: none;
}

.pieceFrame input {
    background: none;
    border: none;
    width: inherit;
    height: inherit;
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}

.pieceFrame img {
    display: block;
    width: inherit;
    height: inherit;
    object-fit: contain;
    filter: invert(var(--piece-color));
}

.pieceFrame.unloaded {
    background-image: url('Ears Gentle.png');
    background-repeat: repeat;
    background-size: 40%;
}


.pieceFrame.unloaded svg {
    fill: var(--menu-active);
    width: 30px;
    display: block;
}

.pieceFrame.unloaded img {
    display: none;
}

.hover {
    box-shadow: inset 0 0 8px var(--container-shadow);
    outline: 2px solid var(--board-background)
}

.dropdownIcon,
.handleIcon {
    fill: var(--board-background);
    width: 30px;
    align-self: flex-end;
    position: absolute;
    cursor: default;
}

.dropdownIcon:hover {
    fill: var(--menu-active);
}

.tempPiece {
    width: 250px;
    transform: translate(-300px);
}

.flip,
.up {
    display: inline-block;
    width: 3ch;
}

.flip {
    border-left: 1px solid var(--board-background);
}

.bundle.inTray li span:last-of-type {
    display: none;
}

.inTray svg {
    display: none;
}

.content>.collapsed {
    width: 200px;
}

.collapsed .title {
    text-align: center;
    margin: 0;
}

.collapsed :not(.title, h2) {
    display: none;
}

.fabrics {
    box-sizing: border-box;
    padding: 4px;
    border-radius: 12px;
}

.typeable {
    cursor: text;
    padding: 0 4px;
    width: fit-content;
}

.typeable:focus {
    outline: none;
    background: linear-gradient(0deg, var(--menu-active) 0% 2px, rgba(255, 255, 255, 0) 2px);
}

.content .subMenu {
    left: 0;
    bottom: auto;
    top: 24px;
}

/* --------------------------- Section & Details ---------------------------  */

.details {
    gap: 12px;
    border-radius: 0;
    padding-block: 22px;
}

.divot {
    width: 24px;
    align-self: center;
    position: relative;
}

.divot:first-of-type {
    fill: var(--container-background);
    top: 16px;
}

.divot:last-of-type {
    fill: var(--menu-background2);
}

/* This line is for makign the top half not have the background so it goes white pink white
After the introduction of the chest it might be a moot point. */
.section .components {
    background: none;
}

/* .section .pieceFrame {
    display: none;
} */

.handleIcon {
    height: 100%;
    cursor: grab;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.handleIcon svg {
    height: 30px;
    width: 30px;
}

.detail span {
    max-width: 90%;
}

.detail {
    justify-content: center;
}

/* --------------------------- Generic Text Formatting ---------------------------  */
.title h2 {
    font-weight: 600;
    font-size: 2rem;
    text-transform: Capitalize;
    font-family: brother-1816, sans-serif;
    color: var(--font-color);
    display: inline;
}

.title ul {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    padding-left: 24px;
    color: var(--font-color);
}

li {
    list-style-type: none;
}

.filler {
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
    display: block;
    font-weight: 400;
    align-items: center;
    justify-items: center;
}

.Material_Title {
    width: inherit;
    border-bottom: 2px solid #343638;
}

.Material_Container {
    display: flex;
    width: 420px;
    flex-wrap: wrap;
}

.Material_Number {
    padding: 4px;
    width: 120px;
    text-align: center;
    border: none;
    border-right: 1pt solid #343638;
    border-radius: 1em 0 0 1em;
    font-size: 12pt;
    display: inline-block;
    margin-bottom: 4px;
}

.Material_Number::placeholder {
    color: #989DA3;
}

.Material_Description {
    margin-left: 12px;
    margin-bottom: 4px;
    width: 260px;
    text-align: start;
    display: inline-block;
}

.shadowed {
    box-shadow: 3px 3px 12px var(--container-shadow), -3px -3px 8px var(--board-background);
}