/* font-family: brother-1816, sans-serif;
font-weight: 700;
font-style: normal;

font-family: brother-1816, sans-serif;
font-weight: 800;
font-style: normal; */

:root {
    --menu-background: #343638;
    --menu-button: #989da3;
    --menu-active: white;
    --board-background: #EAD2CA;
    --container-background: #F5F0EE;
    --container-shadow: #CEB6B6;
    --container-shadow-light: #ceb6b656;
    --font-color: black;
}

[data-theme="purple"] {
    --menu-background: #57325d;
    --menu-button: #B4ADE3;
    --menu-active: white;
    --board-background: #d797c761;
    --container-background: #F5F0EE;
    --container-shadow: #AD89B2;
    --container-shadow-light: #AD89B256;
    --font-color: black;
}

[data-theme="dark"] {
    --menu-background: #26292c;
    --menu-button: #989da3;
    --menu-active: white;
    --board-background: #525252;
    --container-background: #26292c;
    --container-shadow: none;
    --container-shadow-light: #47f3ff13;
    --font-color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* ----------------- Mickey Repeat Background ---------------------- */
/* background-color: var(--container-background);
    background-image: url('Ears Gentle.png');
    background-repeat: repeat;
    background-size: 10%; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
    background: var(--board-background);
    color: var(--font-color);
    /* background: linear-gradient(90deg, rgba(234, 210, 202, 1) 27%, rgba(235, 121, 184, 1) 100%); */
}

/* --------------------------- Footer ---------------------------  */

footer {
    background: var(--menu-background);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    gap: 8px;
    z-index: 0;
}

.leftNav,
.rightNav,
.centerNav {
    display: flex;
    height: inherit;
}

.leftNav {
    grid-column: 1;
    justify-content: flex-start;
    margin-left: 20px;
}

.rightNav {
    grid-column: 3;
    justify-content: flex-end;
    margin-right: 20px;
}

.centerNav {
    grid-column: 2;
    min-width: 600px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.pageLabel {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--menu-background);
    display: inline-block;
    z-index: 99;
    position: fixed;
    bottom: 35px;
    user-select: none;
    transition: bottom .2s cubic-bezier(0.77, 0, 0.18, 1);

    &.move {
        bottom: 54px;
    }

}

/* --------------------------- Left Bar Formatting ---------------------------  */

.leftBar {
    box-sizing: border-box;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--menu-background);
    color: var(--menu-button);
    padding: 6px;
    position: fixed;
}

.leftBar ul {
    list-style-type: none;
    padding: 8px;
    width: 80%;
    font-size: 12pt;
}

.leftBar ul li {
    margin: 18px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftBar ul li:hover {
    color: var(--menu-active);
    transition: color .2s;
    cursor: pointer;
}

.leftSub {
    display: flex;
    padding: 0;
    transition: all .3s ease;
    z-index: 10;
    background: var(--menu-background);
    position: fixed;
    top: 0;
    left: 120px;
    height: 100%;
    width: 0;
}

.leftSub.open {
    width: 180px;
    border-left: 1px solid var(--menu-button);
}

/* --------------------------- Arrow Shenanigans ---------------------------  */

.arrow {
    display: inline-block;
    transition: all .2s ease;
    width: 14px;
}

.leftBar ul li:hover .arrow span {
    background: var(--menu-active);
    height: 3px;
}

.leftBar ul li:hover .arrow span:nth-child(1) {
    transform: rotate(30deg);
}

.leftBar ul li:hover .arrow span:nth-child(2) {
    transform: rotate(-30deg);
}

.arrow span {
    transform-origin: right;
    width: 10px;
    height: 1px;
    border-radius: 2px;
    position: absolute;
    transition: all .2s ease;
    background: var(--menu-button);
}


/* ----------- This might be too confusing though it is cute and does work --------------*/
/* .leftButton.open .arrow span {
    transform-origin: left;
} */

/*  --------------------------- Buttons ---------------------------   */

.menuButton,
.pageButton {
    fill: var(--menu-button);
    height: 50px;
    background: transparent;
    border: none;
    transition: fill .25s, color .25s, border-bottom .1s;
    text-align: center;
    overflow: visible;
    display: flex;
    width: 50px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 50%; */
}

.menuButton:hover,
.pageButton:hover {
    fill: var(--menu-active);
    color: var(--menu-background);
}

.buttonIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    z-index: 1;
}


/*  --------------------------- Hover Menu ---------------------------   */

.menu {
    position: relative;
    display: inline-block;
}

.subMenu {
    display: none;
    position: absolute;
    bottom: 25px;
    background: var(--menu-background);
    width: max-content;
    z-index: 1;
    list-style-type: none;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--board-background);
}

.subMenu li,
.subMenu a {
    color: var(--menu-active);
    padding: 3px 8px;
    display: block;
    transition: all .1s;
    border-radius: 4px;
    text-decoration: none;
}

.subMenu li:hover {
    background: var(--menu-button);
    cursor: default;
}

.menu:hover .subMenu {
    display: block;
}

/* --------------------------- JS classes ---------------------------  */

.active {
    fill: var(--menu-active);
    color: var(--menu-active);
    border-bottom: 3pt solid var(--menu-active);
}

/* --------------------------- Bundling ---------------------------  */

.content {
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bundle {
    padding: 16px;
    margin: 12px 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--container-background);
    border-radius: 6px;
    width: 40%;
    box-shadow: 3px 3px 12px var(--container-shadow), -3px -3px 8px var(--board-background);
    box-sizing: border-box;
}

.bundle:nth-last-of-type(1) {
    margin-bottom: 160px;
}

.pieces {
    padding: 6px 6px 0px 6px;
    box-sizing: border-box;
    border-top: 2px solid var(--container-shadow);
}

.piece {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    background: none;
    border-bottom: 1px solid var(--board-background);
    padding: 4px;
    display: flex;

    /* flex-direction: column-reverse;
    text-align: center; */

    gap: 8px;
    transition: box-shadow .15s, border-radius .25s;

    &:hover {
        box-shadow: 4px 4px 10px var(--container-shadow-light);
        border-radius: 12px;
    }

    &.dragging {
        opacity: .5;
        box-shadow: none;
    }
}

.piece:nth-last-of-type(1) {
    border-bottom: none;
}

.pieceCount {
    /* width: 8ch; */
    text-align: center;
}

.hover {
    box-shadow: inset 0 0 8px var(--container-shadow);
    outline: 2px solid var(--board-background)
}

.bundlingIcon {
    fill: var(--container-shadow);
    width: 30px;
    align-self: flex-end;
    position: absolute;

    &:hover {
        fill: var(--menu-active);
    }
}

.tempPiece {
    width: 250px;
    transform: translate(-300px);
}

.flip,
.up {
    display: inline-block;
    width: 3ch;
}

.flip {
    border-left: 1px solid var(--board-background);
}

/* --------------------------- Generic Text Formatting ---------------------------  */

h2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 12px 0;
    /* font-family: 'Work Sans', sans-serif; */
    text-transform: Capitalize;
    font-family: brother-1816, sans-serif;
}

h3 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 8px 0 8px 24px;
}


.filler {
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
    display: block;
    font-weight: 400;
    align-items: center;
    justify-items: center;
}

.Material_Title {
    width: inherit;
    border-bottom: 2px solid #343638;
}

.Material_Container {
    display: flex;
    width: 420px;
    flex-wrap: wrap;
}

.Material_Number {
    padding: 4px;
    width: 120px;
    text-align: center;
    border: none;
    border-right: 1pt solid #343638;
    border-radius: 1em 0 0 1em;
    font-size: 12pt;
    display: inline-block;
    margin-bottom: 4px;
}

.Material_Number::placeholder {
    color: #989DA3;
}

.Material_Description {
    margin-left: 12px;
    margin-bottom: 4px;
    width: 260px;
    text-align: start;
    display: inline-block;
}